################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/eduNICA/Activity_Docente_Asistencia_Estudiante.cs
/eduNICA/obj/Debug/90/build.force
